/* First there is a page with all submitted quizzes in the database, then a user picks one and starts to take it by guessing answers, everything should be centered with four options to pick from */
h1 {
  text-align: center;
}

button {
  background-color: #9400D3;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}